
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px; 
    background-color: lightblue;
}

.navi{
    text-decoration: none;
    color: rgb(78, 96, 128);
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
    letter-spacing: 1.5px;
}

.navi:hover{
    text-shadow: 1px 1px rgb(124, 143, 176);
}

#banner{
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    background-image: url("../images/st-johns.jpg");
    background-size: 160%;
    border: solid rgb(124, 143, 176);
    opacity: 1;
}

#bannertext{
    text-shadow: 1px 1px black;
    color: aliceblue;
    background-color: rgba(150, 150, 150, 0.5);
    letter-spacing: 1.25px;
}



h2{
    color: rgb(78, 96, 128);
    padding: 20px 5px 20px 5px;
}

section{
    float: left;
    text-align: center;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

section img{
    max-width: 140px;
    max-height: 140px;
    border: solid;
    border-color: rgb(78, 96, 128) ;
}

#bottomPara{
    padding-bottom: 5%;
}